body {
  background: #fff;
  color: #4a4a4a;
  font-family: 'Roboto', serif;
  line-height: 1.65;
  height:100vh;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  margin-bottom: 1.5rem;
  font-size: 1.875rem;
}

h2 {
  margin-bottom: 0.625rem;
  font-size: 1.375rem;
}

h3 {
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
}

h4 {
  margin-bottom: 0.625rem;
  font-size: 1.125rem;
}

p, ul, ol, dl, table, form {
  margin-bottom: 1.25rem;
}

p + h2,
p + h3,
p + h4 {
  margin-top: 2.5rem;
}

input::placeholder {
  color: #9b9b9b;
}
