body {
  background: dodgerblue;
  color: #333;
  font-family: 'Roboto', serif;
  line-height: 1.65;
}
li {
  font-family: Encode Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: rem(32px);
  color: #333333;
}

input::placeholder {
  color: #9b9b9b;
}

.container > * + * {
  margin-top: 0;
}
