//My default colors
$color-default: #FFFFFF;
$color-primary: #5D6E6A;
$color-secondary: #0BD4A4;
$color-third: #0CB7F5;


//My variables to the color

$random-colors: (
  #d0021b,
  #02b4d0,
  #5502d0,
  #024bd0,
  #c702d0,
  #02d0ab,
  #47d002,
  #c9d002,
  #d09202,
);

