.btn {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  margin: 10px 5px;
  padding: 8px 16px;
  font-size: 0.865rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #fff; 
  color: $color-default;

  @include media(md) {
    color: $color-primary;
    
  }
  
  @include media(lg) {
    color: $color-secondary;
    
  }
}