.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color:#5D6E6A;
  
  :first-child{
    padding: 9px 96px 8px 15px;  
    background-color: #fff;
  }

  :nth-child(2) {
    margin: 15px 0;
  }

  &__item {
    display: block;
    color: #4A4A4A;       
  }  

  &__item:not(:first-child):hover {
    background: rgba(255, 255, 255, 0.15);
    transition: background-color 1.5s;

  }
}